.pdBgcolor{
    background-color: #2C3E50;
}

.pdBgcolorBlue{
    background-color: #4D73DF;
}

.pdBgcolorGray{
    background-color: #F6F7FA;
}

.pdHigt100{
    height: 100vh;
}

.pdSideMenu{
    background-color: #4D73DF;
    height: 100vh;
    color: #e0e1e1;
}

.pdMainMenu{
    background-color: #F6F7FA;
    height: 100vh; 
}
